<form class="tormenta20 base custom-sheet" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	{{> "tormenta20.nav-bar"}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

			{{!-- Sheet Header --}}
			{{> "tormenta20.sheet-header-base"}}

			<div class="attributes-left flexcol">
				{{!-- Abilities --}}
				{{> "tormenta20.abilities"}}

				{{!-- HP/MP Resources --}}
				<div class="resources-main">
					<ul class="attributes flexrow">
					{{> "tormenta20.resources"}}
					{{> "tormenta20.defense"}}
					</ul>
				</div>

				{{!-- Extra Resources --}}
				{{#if (or system.resources.shadow system.resources.shadow ) }}
				<div class="resource">
					{{> "tormenta20.resources-extra"}}
				</div>
				{{/if}}

				{{!-- Inventory Weapons --}}
				<div class="inventory-weapons">
					{{> "tormenta20.list-weapon"}}
				</div>

				{{!-- Defense Inventory Equipment --}}
				<div class="inventory-equipment flexrow">
					<!-- <ul class="attributes flexrow"></ul> -->
					{{> "tormenta20.list-equipment"}}
				</div>

				{{!--Powers --}}
				<div class="list-powers">
					<style>
					.list-powers .power-type-badge {
						display: inline-block;
						padding: 1px 6px;
						border-radius: 3px;
						font-size: 9px;
						font-weight: 600;
						text-transform: uppercase;
						margin-left: 8px;
						vertical-align: middle;
						background: rgba(100, 100, 100, 0.3);
						color: #fff;
						border: 1px solid rgba(255, 255, 255, 0.2);
					}
					.list-powers .power-type-geral { background: rgba(100, 150, 200, 0.4); border-color: rgba(100, 150, 200, 0.6); }
					.list-powers .power-type-origem { background: rgba(150, 100, 200, 0.4); border-color: rgba(150, 100, 200, 0.6); }
					.list-powers .power-type-classe { background: rgba(200, 150, 100, 0.4); border-color: rgba(200, 150, 100, 0.6); }
					.list-powers .power-type-racial { background: rgba(100, 200, 150, 0.4); border-color: rgba(100, 200, 150, 0.6); }
					.list-powers .power-type-tormenta { background: rgba(200, 100, 100, 0.4); border-color: rgba(200, 100, 100, 0.6); }
					.list-powers .power-type-devoto { background: rgba(200, 200, 100, 0.4); border-color: rgba(200, 200, 100, 0.6); }
					.list-powers .power-type-concedido { background: rgba(150, 100, 200, 0.4); border-color: rgba(150, 100, 200, 0.6); }
					.list-powers .power-type-complicacao { background: rgba(150, 50, 50, 0.4); border-color: rgba(150, 50, 50, 0.6); }
					.list-powers .power-type-ability { background: rgba(50, 50, 150, 0.4); border-color: rgba(50, 50, 150, 0.6); }
					.list-powers .item-name h4 {
						display: inline-block;
					}
					</style>
					{{> "tormenta20.list-powers"}}
				</div>

				{{#if actor.maiorCirculo}}
				{{!-- Spells --}}
				<div class="list-spells">
					{{> "tormenta20.list-spells"}}
				</div>
				{{/if}}

				{{!-- Traits --}}
				<div class="traits">
					{{> "tormenta20.traits"}}
					<textarea name="system.detalhes.info" rows="10">{{system.detalhes.info}}</textarea>
				</div>
			</div>
			<div class="attributes-right flexcol">
				{{!-- Skills --}}
				{{> "tormenta20.list-skills"}}

				{{!-- Inventory General --}}
				<div class="inventory-list">
					{{> "tormenta20.list-general"}}
					{{> "tormenta20.currency"}}
					{{> "tormenta20.encumbrance"}}
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab journal flexrow flex-between" data-group="primary" data-tab="journal">
			{{> "tormenta20.journal"}}
		</div>

		{{!-- Modifiers Tab --}}
		<div class="tab modifiers" data-group="primary" data-tab="modifiers">
			{{> "tormenta20.modifiers"}}
		</div>

		{{!-- Efeitos Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "tormenta20.active-effects"}}
		</div>
	</section>
</form>
