<form class="tormenta20 base custom-sheet" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	{{> "tormenta20.nav-bar"}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Attributes Tab --}}
		<div class="tab attributes flexrow" data-group="primary" data-tab="attributes">

			{{!-- Sheet Header --}}
			{{> "tormenta20.sheet-header-base"}}

			<div class="attributes-left flexcol">
				{{!-- Abilities --}}
				{{> "tormenta20.abilities"}}

				{{!-- HP/MP Resources --}}
				<div class="resources-main">
					<ul class="attributes flexrow">
					{{> "tormenta20.resources"}}
					{{> "tormenta20.defense"}}
					</ul>
				</div>

				{{!-- Extra Resources --}}
				{{#if (or system.resources.shadow system.resources.shadow ) }}
				<div class="resource">
					{{> "tormenta20.resources-extra"}}
				</div>
				{{/if}}

				{{#if actor.maiorCirculo}}
				{{!-- Spells --}}
				<div class="list-spells">
					{{> "tormenta20.list-spells"}}
				</div>
				{{/if}}

				{{!-- Traits --}}
				<div class="traits">
					{{> "tormenta20.traits"}}
					<textarea name="system.detalhes.info" rows="10">{{system.detalhes.info}}</textarea>
				</div>
			</div>
			<div class="attributes-right flexcol">
				{{!-- Skills --}}
				{{> "tormenta20.list-skills"}}
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab journal flexrow flex-between" data-group="primary" data-tab="journal">
			{{> "tormenta20.journal"}}
		</div>

		{{!-- Modifiers Tab --}}
		<div class="tab modifiers" data-group="primary" data-tab="modifiers">
			{{> "tormenta20.modifiers"}}
		</div>

		{{!-- Poderes Tab --}}
		<div class="tab powers flexrow" data-group="primary" data-tab="powers">
			{{> "modules/t20-custom-sheet/templates/actor/powers-tab"}}
		</div>

		{{!-- Itens Tab --}}
		<div class="tab items flexrow" data-group="primary" data-tab="items">
			{{> "modules/t20-custom-sheet/templates/actor/items-tab"}}
		</div>

		{{!-- Efeitos Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "tormenta20.active-effects"}}
		</div>
	</section>
</form>
